#page-login {
    width: 100vw;
    height: 100vh;
    
    position: relative;
    display: flex;
}

#page-login aside {
    width: 100%;
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#page-login aside .location {
    font-size: 24px;
    text-align: center;
}

#page-login aside .location p {
    font-weight: 800;
}

#page-login .login {
    width: 1044px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-login .login form {
    width: 70%;
    height: 55vh;
    top: 195px;
    color: #5C8599;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#page-login .login form .form {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#page-login .login .label {
    color: #8FA7B2;
}

#page-login .login form #email, #password {
    width: 100%;
    height: 64px;
    border: 1px solid #D3E2E5;
    padding: 0 20px;
    color: #5C8599;
    background: #F5F8FA;
    border-radius: 20px;
}

#page-login .login form #email:focus, #password:focus {
    border: 1px solid #67c395;
    color: #219551;
    background: #e9fff4;
    outline: none;
}

#page-login .login form .remember-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-login .login form .remember-pass .link {
    text-decoration: none;
}

#page-login .login form .remember-pass #remember-me {
    margin-right: 12px;
}

#page-login .login form button {
    height: 64px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #37C77F;
    border: none;
    cursor: pointer;
}

#page-login .login form button:hover {
    background-color: #3cd689;
}

#page-login .login .back-btn {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 16px;
    background-color: #EBF2F5;
    align-items: center;
}

#page-login .login .back-btn:hover {
    background-color: #dee7ec;
}